$white_90: rgba(255,255,255,.9);

$black: #000000;
$black_10: rgba(0,0,0,0.1);
$black_70: rgba(0,0,0,.7);
$black_100: rgba(0,0,0,1);
$color_lima_90_approx: rgba(100,200,0,.9);

$blue_grey: #607D8B;
$deep_purple: #673AB7;
$purple: #9c27b0;
$pink: #E91E63;

$mine_shaft_40: rgba(50, 50, 50, 0.4);
$color_green_yellow_approx: #8df435;
$color_pastel_green_approx: rgba(100,222,100,1);
$color_green_approx: #00de00;
$color_amulet_approx: #705;
$color_spring_rain_approx: #af6;


