head
    title
        | Per Jonsson === Programmer

    meta(name='keywords',
    content='Per Jonsson,\
    Programmer, Programmerare, Developer, Webbutvecklare, web developer, front-end developer,\
    .NET, MVC, CSS, CSS3, SASS, HTML, HTML5, JavaScript, EcmaScript, ES6, TypeScript, JSON,\
    Python, Ruby, AngularJS, Meteor, MongoDB, TDD, CI, Node.js, Material, Polymer, Mobile web,\
     Web Components, Buzzwords, Splunk, Apica, AppDynamics, SCRUM, Kanban, Responsive design, LINQ \
    ')

    meta(name='description', content="Per Jonsson is an avant-garde front-end web developer living in Stockholm, Sweden")
    meta(name="author", content="Per Jonsson")

    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')

    link(rel="shortcut icon" href="/favicon/favicon.ico" type="image/x-icon")
    link(rel="icon" href="/favicon/favicon.ico" type="image/x-icon")

