head
    title
        | Spheres | Per Jonsson === Programmer

    meta(name='description',
    content='Per Jonsson,\
    Programmer,\
    ')

    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')

    // TODO: Fill
    meta(name='robots', content='..., ...')
    meta(name='googlebot', content='..., ...')
