template(name="bars")
    with content
        a(class="white-text" href="/") Bars
        h1(class="white-text") Skills

        .flexcontainer
            // TODO: table / gradient : Minor, medium, major
            // each bar
            // TODO: (go from small to big, blue to green to yellow red)
            // TODO: how to size
            .bar(style="background: blue;")
                h5(class="black-text")
                    | Text: JS
            .bar
                h5(class="black-text") Ruby
                div #
            .bar
                h5(class="black-text") CSS
                div #
                div #
            .bar
                h5(class="black-text") HTML
                div #
                div #
                div #
                div #
                div #
