template(name="bars")
    with content
        .row
            h3.skillTitle.center.white-text.press-start-font=skill
        //
        table.press-start-font
            thead
                tr
                    th.center.blue-text(data-field='cold')
                        i.small.mdi-action-trending-down
                        | Cold
                    th.center.green-text(data-field='lukewarm')
                        | Lukewarm
                    th.center.red-text(data-field='hot')
                        | Hot
                        i.small.mdi-action-trending-up
            tbody
        //
        #border
        //
        .bars-body
            .bars-container
                // TODO: how to size
                each skillSet
                    .bar(style="background: #{color}; height: #{level}px; ")
                        h6.white-text= text