template(name="bars")
    with content
        h1(class="white-text")= foobar

        .flexcontainer
            .bar
                | JS
            .bar
                | Ruby
                div #
            .bar
                | CSS
                div #
                div #
            .bar
                | HTML
                div #
                div #
                div #
                div #
                div #
