template(name="bars")
    with content
        a.white-text(href="/") Bars
        h3.center.white-text
            | #{skill}
            | skills (switch/swipe/paginate)

        table.responsive-table
            thead
                tr.white-text
                    th.center.blue(data-field='cold') Cold
                    th.center.green(data-field='lukewarm') Lukewarm
                    th.center.red(data-field='hot') Hot
            tbody
        .mainBody
            .flexcontainer
                // TODO: (go from small to big, blue to green to yellow red)
                // TODO: how to size
                each skillSet
                    .bar(style="background: blue; height: #{level}px; ")
                        h6.white-text= text