template(name="app")
    #body
        #sphere
        #s
        .shake
            #sphere

template(name="app2")
    .flexcontainer
        .bar
            | JS
        .bar
            | Ruby
            div #
        .bar
            | CSS
            div #
            div #
        .bar
            | HTML
            div #
            div #
            div #
            div #
            div #
