template(name="cards")
    .container
        .row
            h2.center.white-text.press-start-font CV
        .row
            .col.s12.m6
                // each cvItems
                .card.blue.card-shadow.shimmer
                    .waves-effect.waves-block.waves-light.cv-card
                        p.flow-text.press-start-font.center.activator Work experience
                        h1.center.activator.mdi-action-android
                    .card-content.white
                        span.card-title.activator.grey-text.text-darken-4
                            | Read more
                            i.mdi-navigation-more-vert.right
                        p
                            a(href='#') Source code
                    .card-reveal
                        span.card-title.grey-text.text-darken-4
                            | Work experience
                            i.mdi-navigation-close.right
                        // TODO: Flyg in? arrow-icons?
                        ul
                            li.flow-text
                                | Betsson
                            li.flow-text
                                | Ericsson
            .col.s12.m6
                .card.pink.card-shadow.shimmer
                    .waves-effect.waves-block.waves-light.cv-card
                        p.flow-text.press-start-font.center.activator Education
                        h1.center.activator.mdi-social-school
                    .card-content.white
                        span.card-title.activator.grey-text.text-darken-4
                            | Read more
                            i.mdi-navigation-more-vert.right
                        p
                            a(href='#') Source code
                    .card-reveal
                        span.card-title.grey-text.text-darken-4
                            | Education
                            i.mdi-navigation-close.right
                        // TODO: Flyg in? arrow-icons?
                        ul
                            li.flow-text
                                | LiU
                            li.flow-text
                                | LiTH


