template(name="venn")
    with content
        .container
            .row
                h1.white-text.press-start-font Per
                p.white-text= foo

            .row
                p.flow-text.white-text Avant-garde is my value word


            .row
                #infographic
                    #c1.circle.bubble-up
                        p Experimental and Fun.
                    #c2.circle.bubble-up
                        p  Creativity and Innovation.
                    #c3.circle.bubble-up
                        p Knowledge and Experience.
                    #j12.joined
                        p
                            | UX pro
                    #j23.joined
                        p
                            | Kernel developer
                    #j13.joined
                        p
                            | Bedroom enthusiast
                    #all.joined
                        p
                            | Per