template(name="venn")
    with content
        .container
            .row
                h1.white-text.press-start-font Per
                p.white-text= foo

            .row
                .venn.one a
                .venn.two b