//colors
// TODO: Move to colors or use material colors in markup
$white: #fff;
$pink_55: rgba(233,30,99,.55);
$cyan_55: rgba(0,188,212,.55);
$lime_55: rgba(205,220,57,.55);

#infographic {
    width: 40em;
    margin: .5em auto;
    padding: 1em;
    position: relative;
    height: 40em;
    color: $white;

}
.circle {
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 50%;
    width: 25em;
    height: 25em;
    text-align: center;
    position: absolute;

    p {
        height: 25em;
        width: 15em;
        display: table-cell;
        vertical-align: middle;
    }
}
#c1 {
    top: 0;
    left: 0;
    background-color: $pink_55;
}
#c2 {
    top: 0;
    left: 15em;
    background-color: $cyan_55;
    p {
        padding-left: 10em;
    }
}
#c3 {
    top: 14em;
    left: 7.5em;
    background-color: $lime_55;
    p {
        width: 25em;
        height: 15em;
        padding-top: 10em;
    }
}
.joined {
    position: absolute;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
#j12 {
    top: 5em;
    left: 15em;
    width: 10em;
    height: 7em;
    padding-top: 3em;
}
#j13 {
    top: 17em;
    left: 10em;
    width: 7em;
    height: 5em;
    padding-top: 2.5em;
}
#j23 {
    top: 17em;
    left: 23em;
    width: 7em;
    height: 5em;
    padding-top: 2.5em;
}
#all {
    top: 15em;
    left: 15em;
    width: 10em;
    height: 5em;
    padding-top: 1em;
}

.bubble-up {
    animation: bubble-up 4s ease-in-out;
}