template(name="venn")
    with content
        .container
            .row
                h1.white-text.press-start-font Per
                p.white-text= foo

            .row
                .venn.one a
                .venn.two b

            .row
                #infographic
                    #c1.circle
                        p Cannot copy text.
                    #c2.circle
                        p Large download.
                    #c3.circle
                        p Forgot its roots.
                    #j12.joined
                        p
                            span Cannot copy text + Large download =
                            | Flash
                    #j23.joined
                        p
                            span Large download + Forgot its roots =
                            | Animated GIF
                    #j13.joined
                        p
                            span Cannot copy text + Forgot its roots =
                            | Text as image
                    #all.joined
                        p
                            span Cannot copy text + Large download + Forgot its roots =
                            | Infographic