template(name="social")


    .container
        .row
            h1.center.white-text.press-start-font Social

        .row
            p.flow-text.white-text
                | Per's presence on the web
                | and its impact

        .row
            p.flow-text.white-text
                | Per's make-up

            canvas#pie-chart.pie-chart

            .pink-text
                b 77%
                span Drive
            .cyan-text
                b 55%
                span Delivery
            .lime-text
                b 33%
                span Creativity
            .white-text
                b 22%
                span Cross-functionality
