template(name="social")


    .container
        .row
            h1.white-text.press-start-font Social
            .white-text 77 % Drive, talent, cross-functional

        .row
            canvas#pie-chart.pie-chart
