template(name="social")


    .container
        .row
            h1.center.white-text.press-start-font Social

        .row
            p.flow-text.white-text
                | Per's presence on the web
                | and its impact

        .row
            p.flow-text.white-text
                | Per's make-up
            canvas#pie-chart.pie-chart
            .white-text 77% Drive
            .white-text 55% Delivery
            .white-text 33% Creativity
            .white-text 22% Cross-functionality
