template(name="spheres")
    with content
        .white-text.press-start-font.home-title > #{home.title}

        #sphere
        .row
            .shake
                #sphere(class="white")
                #sphere(class="blue")