template(name="spheres")
    with content
        h1(class="white-text")
            | bar
            | #{foo.bar}
            | #{bar}

        #body
           #sphere
           #s
           .shake
               #sphere