template(name="spheres")
    with content
        a(class="white-text" href="/bars") Bars

        #sphere
        .row
            .shake
                #sphere(class="white")
                #sphere(class="blue")