template(name="spheres")
    with content
        // TODO: add child element to type-text for additional/overflow rows of typing
        .white-text.press-start-font.home-title
            | > Hello, World.
            .type-text
                | #{home.title}
                span.blink.white-text |

        .container
            .row
                .col.s12.m4
                    .shake
                        a(href="/bars/Languages")
                            .sphere.small-sphere.anti-gravity-left.press-start-font(class="cyan")
                                .arc.white-text Skills
                .col.s12.m4
                    | &nbsp;
                .col.s12.m4
                    .shake
                        a(href="/cards")
                            .sphere.small-sphere.anti-gravity-right(class="orange").press-start-font
                                .arc.white-text CV
            .row
                .col.s12.m4
                    | &nbsp;
                .col.s12.m4
                    a(href="/venn")
                        .sphere(class="yellow").press-start-font
                            .arc.white-text Per
                .col.s12.m4
                    | &nbsp;
            .row
                .col.s12.m4
                    .shake
                        a(href="/social")
                            .sphere.small-sphere.gravity-left(class="lime").press-start-font
                                .arc.white-text Social
                .col.s12.m4
                    | &nbsp;
                .col.s12.m4
                    .shake
                        a(href="/portfolio")
                            .sphere.small-sphere.gravity-right(class="pink").press-start-font
                                .arc.white-text Portfolio

